body {
    background-color:white;
    padding : 20px;
}
.flex-container {
  display: flex;
 flex-direction: row;
position:relative;
}

.flex-container > div {
  width: 100%;
   margin: 10px;
  text-align: center;
 font-size: 20px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:30%;
    border-radius: 5px;
    margin-bottom:5px;
	position:absolute;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 10px 10px 5px 5px;
    width: 100%;
}

.container {
    padding: 2px 16px;
}

h4 {
   position :absolute; 
   top:0px;
   right: 10px;
   color: white;
   text-shadow: 2px 2px 4px #000000;

}




